body {
    height: 100vw;
    width: 100%;
}

h1 {
    position: static;
    height: 35px;
    background-color: blue;
    font-size: 30px;
    padding: 15px;
    text-align: right;
    color: white;
}

a {
    color: white;
}
.search {
    position: relative;
    padding-left: 40%;
    padding-right: 40%; 
    width: 20%;
    color: black;
    border-bottom: 2px solid grey;
}
.content {
    position: relative;
    width: 20%;
    height: 100%;
    padding-left: 40%;
    padding-right: 40%;
    color: black;
    z-index: -2;
}
.sidebar {
    position: absolute;
    top: -65px;
    height: 100%;
    width: 70px;
    background-color: grey;
    padding-top: 20%;
    padding-bottom: 20%;
    line-height: 20px;
}